/*SCRIPT*/
/** {*/
/*box-sizing: box-border;*/
/*margin: 0;*/
/*padding: 0;*/
/*}*/

/*body {*/
/*color: #efefef;*/
/*font-family: 'Open Sans', sans-serif;*/
/*text-shadow: 1px 1px 15px #000000;*/
/*background:*/
/*linear-gradient(*/
/*rgba(17, 126, 122, 0.75),*/
/*rgba(0, 88, 255, 0.45)*/
/*),*/

/*url(https://www.pexels.com/photo/shallow-focus-photography-of-brown-tree-trunk-1250260/);*/
/*background-size: cover;*/
/*background-position: top;*/
/*background-repeat: no-repeat;*/
/*}*/

/*main {*/
/*min-height: 100vh;*/
/*display: flex;*/
/*align-items: center;*/
/*justify-content: center;*/
/*}*/

/*.container {*/
/*display: flex;*/
/*align-items: center;*/
/*width: 75%;*/
/*}*/

/*.overview {*/
/*padding: 3rem;*/
/*}*/

/*.fullname {*/
/*font-weight: 300;*/
/*letter-spacing: 3px;*/
/*margin-bottom: .5rem;*/
/*}*/

/*.job-title {*/
/*color: #ffc107;*/
/*text-transform: uppercase;*/
/*letter-spacing: 2px;*/
/*font-size: .75rem;*/
/*margin-bottom: 1rem;*/
/*font-weight: bolder;*/
/*}*/

/*hr {*/
/*width: 5rem;*/
/*border: none;*/
/*height: 2px;*/
/*background-color: #00BCD4;*/
/*margin: 1.5rem 0;*/
/*}*/

/*.description {*/
/*margin-top: 1.5rem;*/
/*margin-bottom: 1.5rem;*/
/*line-height: 1.75;*/
/*}*/

/*.works {*/
/*margin-top: 1.5rem;*/
/*margin-bottom: 3rem;*/
/*}*/

/*.works h2 {*/
/*font-weight: 300;*/
/*letter-spacing: 3px;*/
/*margin-bottom: 1rem;*/
/*}*/

/*.works img {*/
/*width: 60px;*/
/*height: 60px;*/
/*object-fit: cover;*/
/*}*/

/*.social-media a {*/
/*color: #efefef;*/
/*margin: 0 .5rem;*/
/*font-size: 1.5rem;*/
/*opacity: .75;*/
/*text-decoration: none;*/
/*}*/

/*.social-media a:hover {*/
/*opacity: 1;*/
/*}*/

/*.ad {*/
/*margin: .5rem;*/
/*font-size: 1rem;*/
/*}*/

/*a {*/
/*color: #9af1fc;*/
/*text-decoration: none;*/
/*}*/

/*.image-container img {*/
/*	object-fit: cover;*/
/*	width: 200px;*/
/*	height: 200px;*/
/*	border-radius: 50%;*/
/*	margin: auto;*/
/*	display: block;*/
/*}*/

/*.image-container {*/
/*	width: 100%;*/
/*	padding: 3rem;*/
/*}*/

/*@media (max-width: 980px) {*/
/*	.container {*/
/*		flex-direction: column;*/
/*	}*/

/*	.image-container {*/
/*		width: 100%;*/
/*		padding: 3rem 0 0;*/
/*	}*/

/*	.overview {*/
/*		order: 1;*/
/*		padding: 3rem 0;*/
/*	}*/
/*}*/




/* color */
* {
  font-size: 16px;
  font-family: sans-serif;
  color: white;
}

html {
  background-color: #a08055;
}

.overallbground {
  /* background-color: #e0dde0; */
  /* background:white; */
  background-color: white;
    color: white;
  
  border-color: white;
  padding: 50px;
}


.name {
  color: white;
}


h2 {
  background-color: #994400;
  color: white;
}


.job, .school-list, .intro, .header{
  background-color: white;
}


.job-heading {
  color: #994400;
}
/* structure */
html {
  font-family: serif;
}

.overallbground {
  margin: 10px auto 10px auto;
  padding: 10px;
  max-width: 800px;
  border-radius: 12px;
}



.name {
  font-family: sans-serif;
  font-size:35px;
  color: white;
}

.job, .school-list, .intro, .header {
  border-radius: 12px;
  padding: 18px;
  margin-bottom: 10px;
  background: 
  url(https://i2.wp.com/amethystfarm.org/wp-content/uploads/2017/01/darkgraywood-bg.jpg?ssl=1); 
}

.header-name {
  float:left;
  margin:0;
 
}



.overview {
  margin-bottom: 22px;
}

h2 {
  font-size: 22px;
  text-align: center;
  border-radius: 25px 25px 0 0;
  width: 45%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom:0;

}

h2 + .job, h2 + .school-list{
  margin-top: 0;
  border-top-left-radius: 0;
}

p {
  margin: 0;
  padding: 0;
  color: white;
}

.job-title {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
}

.job-date {
  font-size:18px;
  text-align: right;
  float: right;
  margin: 0;
  padding: 0;
}

.job-name {
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

.job-details {
  font-size: 16px;
  padding-left: 20px;
  margin-bottom:0;
}

div.intro > p{
  padding-left: 22px;
  text-indent: -22px;
  margin-bottom:10px;
}

.education-training{
  margin:0;
}

.institution{
  margin: 10px;

}

.school-date{
  font-weight: bold;
}


* {
  font-size: 16px;
  font-family: sans-serif;
}

html {
  background-color: #d9dff2; /* #ccccff */
  box-shadow: 10px 10px grey;
}

.overallbground {
  background-color: white;
  border-color: #dfe2e5;
}




h2 {
  background-color: #374ba4; /* #1133cc */
  color: white;
  font-style:italic;
}


.job, .school-list, .intro, .header{
  background-color: white;
  box-shadow: 6px 5px grey;
}


.job-heading {
  color: #374ba4; /* #1133cc */
}




.projects {
  padding: 10px;
  color: black;
  height: 60px;
 }   
 
 .projects img {
   width: 70px;
   height: 60px;
   object-fit: cover;
   border-radius: 50%;
 }  



.social-media a {
  color: #efefef;
  margin-right: 40px;
 padding-top: 1px;
  font-size: 2.5rem;
  opacity: 1;
  text-decoration: none;
  float: right;
}



  
      header {
        position: relative;
        background:#374BA4;
        width: 100%;
        overflow: hidden;
        height: 80px;
        text-shadow: 1px 2px 3px #304a63;
    }
    header h1 {
        position: relative;
        font-family: 'Bitter', serif;
        font-size: 250%;
        background:#374BA4;
        color: white;
        margin: 0;
        height: 90px;
        padding-top: 15px;
        padding-left: 35px;
        padding-right: 30px;
        float: left;
        z-index: 2;
        font-style: italic;
    }
  
    
  
    

  #name {
    float:left;
    margin-left: 30px;
    padding-bottom: 10px;
    font-size: 30px;
    font-family: 'Alfa Slab One', cursive;
    color: white;
    font-style: italic;
   
    
  }
